{
  "apiPort": "5000",
  "language": "NL",
  "footerText": "Copyright Panda",
  "activity": "the bot developing itself :)",
  "activityType": "WATCHING",
  "errColor": "#E74C3C",
  "storage": {
    "type": "sqlite"
  },
  "logs": {
    "files": {
      "enabled": true,
      "keep_for": 14
    }
  },
  "debug": false,
  "dev": false
}